################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Projecte2-Hotels/v16
/.vs
/CppProperties.json
